#selfcard {
  width: 80%;
  border: 1px solid gray;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 55% 45%;
}

#me {
  min-width: 50%;
  max-width: 70%;
  float: right;
}

#selftext {
  padding-top: 2em;
  padding-bottom: 2em;
  border: 1px solid black;
}

#aboutme {
  text-align: center;
}
