#logo {
  max-width: 4%;
  float: right;
  margin: auto;
  margin-top: 0%;
}

#title {
  margin-top: 0px;
  height: 5%;
  font-style: italic;
  text-align: left;
}

#sitelink:link {
  text-decoration: none;
  color: black;
}

#sitelink {
  color: black;
}
