@use 'Carousel';

$font-stack: "Trebuchet MS", sans-serif;

body {
  font-family: $font-stack;
  background-color: white;
}

html {
  display: inline;
}
body,
div,
span,
img {
  margin: 0;
  padding: 0;
}

#root {
  margin-top: 0px;
}

#logo {
  max-width: 5%;
  float: right;
  margin: auto;
  margin-top: 0%;
}

#me {
  max-width: 10%;
}

#title {
  margin-top: 0px;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 0.25s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
