@use 'Carousel';
@use 'TopPart';
@use 'SelfCard';

$font-stack: "Trebuchet MS", sans-serif;

body {
  font-family: $font-stack;
  background-color: white;
}

body,
div,
span,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 0.25s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
