.carouselcard {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 5px 5px 10px gray;
}
.carouselcard img {
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 100%;
}
.carouselcard a {
  font-size: 2vw;
  margin-top: 4vw;
}
@media screen and (max-width: 1200px) {
  .carouselcard a {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1200px) {
  .carouselcard a {
    margin-top: 2em;
  }
}

.carouselitem {
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: whitesmoke;
}

#carousel {
  margin-left: 15%;
  margin-right: 15%;
}
#carousel ol {
  margin-top: 10%;
}
#carousel ol li {
  background-color: steelblue;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

#logo {
  max-width: 4%;
  float: right;
  margin: auto;
  margin-top: 0%;
}

#title {
  margin-top: 0px;
  height: 5%;
  font-style: italic;
  text-align: left;
}

#sitelink:link {
  text-decoration: none;
  color: black;
}

#sitelink {
  color: black;
}

#selfcard {
  width: 70%;
  border: 1px solid gray;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: whitesmoke;
  box-shadow: 5px 5px 10px gray;
}

#me {
  min-width: 50%;
  max-width: 70%;
  float: right;
}

#selftext {
  padding-top: 2em;
  padding-bottom: 2em;
  border: 1px solid black;
  background-color: white;
  font-size: 1.5vw;
}
@media screen and (max-width: 1200px) {
  #selftext {
    font-size: 1.1em;
  }
}

#aboutme {
  text-align: center;
  font-size: 2vw;
}
@media screen and (max-width: 1200px) {
  #aboutme {
    font-size: 1.5em;
  }
}

#carddesc {
  padding-top: 3%;
}

#banner {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid gray;
  box-shadow: 5px 5px 10px gray;
}

.sitecard {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  background-color: white;
  margin-top: 2%;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 5px 5px 10px gray;
}

.siteimage {
  max-width: 100%;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.siteinfo {
  padding-top: 15%;
  margin: 10%;
  margin-top: 0%;
  font-size: 1.5em;
}

/*font-family: ProximaNova,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;*/
body {
  font-family: Arial, sans-serif;
  background-color: lightsteelblue;
  min-width: 1200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
span,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-bottom: 5px;
  text-align: center;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 0.25s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/*# sourceMappingURL=App.css.map */
